version: 2.0
jobs:
  build:
    docker:
      - image: circleci/elixir:1.7
    working_directory: ~/zmq_ex
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-zmq_ex-{{ .Branch }}-{{ checksum "mix.lock" }}
            - v1-zmq_ex-{{ .Branch }}-
            - v1-zmq_ex-master-
            - v1-zmq_ex-
      - run: mix local.rebar --force
      - run: mix local.hex --force
      - run: mix deps.get
      - run: mix format --check-formatted
      - run: MIX_ENV=test JUNIT_DIR=./test-results/junit mix coveralls.circle
      - run: mix credo --strict
      - run: mix dialyzer
      - store_test_results:
          path: test-results
      - save_cache:
          key: v1-zmq_ex-{{ .Branch }}-{{ checksum "mix.lock" }}
          paths:
            - _build/

